---
const name= 'John'
console.log(name)
const users= [
    { name: 'John', age: 55},
    { name: 'Mike', age: 23}
]
---
<h1>Hello {name}</h1>
<ul>
    {users.map(user => (
        <li>{user.name}</li>
    ))}
</ul>